<table class="table-auto mb-2">
  <tbody>
    <tr class="border-b border-blue-600">
      <th class="px-4 py-2 text-left">Total Dependencies</th>
      <td class="px-4 py-2" data-test-version>
        {{this.totalDependencyCount}}
      </td>
    </tr>
    <tr class="border-b border-blue-600">
      <th class="px-4 py-2 text-left">Unique Dependencies</th>
      <td class="px-4 py-2" data-test-version>
        {{this.installedDependencyCount}}
      </td>
    </tr>
  </tbody>
</table>